*{
  box-sizing: border-box;
}

body{
	background-color: #EFEDE4;
	margin: 0;
}

/* ----- Navigation Bar Start -----*/
header{
	position: fixed;
	/* left: 0;
	top: 0; */
	display: inline-block;
	width: 100%;
	z-index: 1;
	padding: 1em 0;
	background-color: #EFEDE4;
}

.container-header{
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	overflow: hidden;
}
@media (min-width: 1140px){
.container-header {
    max-width: 1200px;
}
}

.header-left-logo{
	float: left;
	display: block;
	width: 3em;
	height: 3em;
}

nav{
	float: right;
	display: block;
}

nav a{
	display: relative;
  float: none;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover{
  color: #E98074;
  border-bottom: 1px solid #E98074;
}

nav a.active{
  color: #E98074
}
/* ----- Navigation Bar End -----*/

/* ----- Main Content Elements Start-----*/
.pagecentercontent{
	position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
	height: 100vh;
	background-color: rgb(235, 232, 223);
	/*min-height: 600px; */
}

.container{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
@media (min-width: 1200px){
	.container-header {
			max-width: 970px;
	}
}

.brandlogo{
	margin: 0 auto;
	max-width: 300px;
}

.homelogo{
	vertical-align: middle;
  /*margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	padding-right: 1em; */
}

.home-image{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	padding: 0.5em;
	background-color: rgb(221, 221, 221);
}

.border{
	display: block;
	border-radius: 50%;
	padding: 1.5em;
	border: 1px dashed #E98074;
}

/* ----- Main Content Elements End-----*/

/* ----- Footer Start -----*/
footer{
	position: relative;
	width: 100%;
	bottom: 0;
	padding: 2em 0;
	background-color: rgb(235, 232, 223);
}

.container-footer{
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	overflow: hidden;
}
@media (min-width: 1140px){
.container-header {
    max-width: 1200px;
}
}

/* ----- Footer End -----*/

