*{
  box-sizing: border-box;
}

body{
	background-color: #EFEDE4;
	margin: 0;
}

/* ----- Font Start -----*/

@font-face{
	src: url(../fonts/Karla-Bold.ttf);
	font-family: 'karla';
}
@font-face{
	src: url(../fonts/Montserrat-Regular.ttf);
	font-family: 'monts-regular';
}
@font-face{
	src: url(../fonts/Montserrat-Bold.ttf);
	font-family: 'monts-bold';
}

h1, h2, h3, h4{
	font-family: karla ;
}

p, a, li{
	font-family: 'monts-regular';
}

/* ----- Font End -----*/

/* ----- Navigation Bar Start -----*/
header{
	position: fixed;
	/* left: 0;
	top: 0; */
	display: inline-block;
	width: 100%;
	z-index: 1;
	padding: 0.5em 0;
	background-color: #EFEDE4;
}

.container-header{
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	overflow: hidden;
}
@media (min-width: 1200px){
.container-header {
    max-width: 1140px;
}
}

.header-left-logo{
	float: left;
	display: block;
	width: 2.5em;
	height: 2.5em;
}

nav{
	float: right;
	display: block;
	padding: 0.6em;
}

nav a{
	display: relative;
  float: none;
  text-align: center;
  padding: 1em;
	text-decoration: none;
}

nav a:hover{
  color: #E98074;
  border-bottom: 1px solid #E98074;
}

nav a.active{
  color: #E98074
}
/* ----- Navigation Bar End -----*/

/* ----- Main Content Elements Start-----*/
.pagecentercontent{
	position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
	height: 100vh;
	background-color: rgb(235, 232, 223);
	/*min-height: 600px; */
}

.container{
	padding-right: 10em; /*15px*/
	padding-left: 10em;  /*15px*/
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
@media (min-width: 1200px){
	.container-header {
			max-width: 970px;
	}
}

.brandlogo{
	margin: 0 auto;
	max-width: 300px;
}

.homelogo{
	vertical-align: middle;
}

.home{
	margin-bottom: 1em;
}

.container-home{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 2em auto;
}

.reverse{
	flex-direction: row-reverse;
}

.home-block-item{
	margin: 1em;
}

.border{
	display: inline-block;
	border-radius: 50%;
	padding: 0.5em;
	border: 1px dashed #E98074;
	align-self: center;
}

.home-image{
	display: block;
	margin: 0;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	padding: 0.5em;
	background-color: rgb(240, 224, 224);
}

.container-home p{
	width: 30%;
	text-align: initial;
}


/* ----- Main Content Elements End-----*/

/* ----- Footer Start -----*/
footer{
	position: relative;
	width: 100%;
	bottom: 0;
	padding: 1em 0;
	background-color: rgb(235, 232, 223);
}

.container-footer{
	display: grid;
	grid-template-columns: 1fr 2.5fr 0.5fr;
	text-align: left;
}

.footer-left h4{
	margin: 0.5em auto;
}

.footer-left p{
	margin: 2em auto;
	font-size: small;
}

.footer-logo{
	display: block;
	width: 3.5em;
	height: 3.5em;
}

.footer-center{
	padding-right: 7em;
	text-align: center;
}

.footer-icons a{
	margin: 0.5em;
	text-decoration: none;
	padding: 0.5em;
	display: inline-block;
	border-radius: 50%;
	border: 1px dotted #E98074;
}

.icon{
	width: 2em;
	height: 1.5em;
}

.footer-right{
	padding-left: 2em;
}

.footer-right ul{
	list-style: none;
}

.footer-right ul li{
	margin-top: 0.5em;
}

.footer-right ul a{
	text-decoration: none;
	color: #E98074;
}

/* ----- Footer End -----*/

/* ----- Work Start -----*/
.container-work-desc{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
	height: 100vh;	
}

.work-logo{
  margin: 0 auto;
  width: 500px;
  position: absolute;
  left: -250px;
  top: 15%;
}

.container-list{
  margin: auto;
  padding-left: 15em;
  padding-bottom: 10em;
}

.work-grid{
  display: grid;
  grid-gap: 2em 1em;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
 }

.work-full-column{
  grid-column: span 2;
  min-height: 500px;
}

/*.work-half-column{
  background-color: beige;
}*/

.work-image{
width: 100%;
height: 450px;
}

.work-left{
  float: left;
}

.work-right{
  float: right;
}
/* ----- Work End -----*/

/* ----- About Start -----*/
.container-about-main{
  position: relative;
  /*display: flex;
  flex-direction: column;*/
  justify-content: center;
  align-items: center;
  width: 100%;
	height: 100vh;	 
}

.about-mainpic{
  margin-top: 10%;
}

.about-tagline{
  position: absolute;
  padding: 3em;
  border-radius: 50%;
  border: 1px dotted #E98074;
}

.about-tagline:hover{
  font-size: medium;
  background-color: #E98074;
  color: white;
}

.topright{
  top: 15%;
  right: 25%;
}

.bottomright{
  bottom: 20%;
  right: 20%;
}

.topleft{
  top: 15%;
  left: 20%;
}

.bottomleft{
  bottom: 20%;
  left: 20%;
}

/* ----- About End -----*/

/* ----- Magis Start -----*/

.magis{
	background-color: #F4F3F4;
}

/* ----- Magis End -----*/