*{
  box-sizing: border-box;
}

body{
	background-color: #FCFAF1;
	margin: 0;
}

/* ----- Font Start -----*/

@font-face{
	src: url(../fonts/Karla-Bold.ttf);
	font-family: 'karla-bold';
}
@font-face{
	src: url(../fonts/Karla-BoldItalic.ttf);
	font-family: 'karla-italic';
}
@font-face{
	src: url(../fonts/Montserrat-Regular.ttf);
	font-family: 'monts-regular';
}
@font-face{
	src: url(../fonts/Montserrat-SemiBold.ttf);
	font-family: 'monts-bold';
}

h1, h2, h3, h4{
	font-family: 'karla-bold' ;
}

p, a, li{
	font-family: 'monts-regular';
}

/* ----- Font End -----*/

/* ----- Navigation Bar Start -----*/
header{
	position: fixed;
	/* left: 0;
	top: 0; */
	display: inline-block;
	width: 100%;
	z-index: 1;
	padding: 0.5em 0;
	background-color: #FCFAF1;
}

.container-header{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	overflow: hidden;
}
@media (min-width: 1200px){
.container-header {
    max-width: 1150px;
}
}

.header-left-logo{
	float: left;
	display: block;
	width: 2.5em;
	height: 2.5em;
}

nav{
	float: right;
	display: block;
	padding: 0.6em;
}

nav a{
  float: none;
  text-align: center;
	padding: 0.5em;
	padding-bottom: 0.1em;
	text-decoration: none;
	color: #DB565D;
	font-family: 'monts-regular';
}

nav a:hover{
  color: #6B3231;
  border-bottom: 1px solid #6B3231;
}

nav a.active{
	color: #6B3231;
	font-family: 'monts-bold';
}

/* ----- Navigation Bar End -----*/

/* ----- Main Content Elements Start-----*/
.pagecentercontent{
	position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
	height: 100vh;
	background-color:#FCFAF1;
	/*min-height: 600px; */
}

.container{
	padding-right: 10em; /*15px*/
	padding-left: 10em;  /*15px*/
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.brandlogo{
	margin: 0 auto;
	display: block;
	max-width: 300px;
}

.homelogo{
	width: 100%;
	vertical-align: middle;
}

.pagecentercontent h1{
	margin: 0;
	padding: 0.5em;
	font-family: 'karla-bold';
	color: #6B3231;
}

.mouse{
	display: block;
	position: absolute;
	bottom: 0;
  margin: auto;
  margin-bottom: 1.5em;
	height: 26px;
	width: 20px;
	border: solid 2px #6B3231;
  border-radius: 16px;
}

.scroller{
	margin: auto;
	height: 4px;
	width: 4px;
	background: #6B3231;
	border-radius: 100%;
	animation-name: scroll;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(5px); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

.home{
	margin-bottom: 1em;
	background-color: #FACCAD;
}

.container-home{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 2em 0;
}

.reverse{
	flex-direction: row-reverse;
}

.home-block-item{
	margin: 1em;
}

.border{
	display: inline-block;
	border-radius: 50%;
	padding: 0.5em;
	border: 1px dashed #DB565D;
	align-self: center;
}

.home-image{
	display: block;
	margin: 0;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	padding: 0.5em;
	background-color: #FCFAF1;
}

.container-home p{
	width: 35%;
	text-align: initial;
	color: #6B3231;
}


/* ----- Main Content Elements End-----*/

/* ----- Footer Start -----*/
footer{
	position: relative;
	margin-top: 2em;
	width: 100%;
	bottom: 0;
	padding: 1em 0;
	background-color: #FCFAF1;
}

.container-footer{
	display: grid;
	grid-template-columns: 1fr 2.5fr 0.5fr;
	text-align: left;
}

.footer-left h4{
	margin: 0.5em auto;
	font-family: 'karla-bold';
	color: #6B3231;	
}

.footer-left p{
	margin: 2em auto;
	font-size: x-small;
	font-family: 'monts-regular';
	color: #DB565D;	
}

.footer-logo{
	display: block;
	width: 3.5em;
	height: 3.5em;
}

.footer-center{
	padding-right: 7em;
	text-align: center;
	font-family: 'karla-bold';
	color: #6B3231;	
}

.footer-icons a{
	margin: 0.5em;
	text-decoration: none;
	padding: 0.5em;
	display: inline-block;
	border-radius: 50%;
	border: 1px dotted #DB565D;
}

.icon{
	width: 1em;
	height: 0.5em;
	fill: #6B3231;
}

.footer-right{
	padding-left: 2em;
}

.footer-right ul{
	list-style: none;
}

.footer-right ul li{
	margin-top: 0.5em;
}

.footer-right ul a{
	text-decoration: none;
	color: #DB565D;
}

/* ----- Footer End -----*/

/* ----- Work Start -----*/
.container-work-desc{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
	height: 100vh;
	background-color: #FACCAD;	
}

.work-logo{
  margin: 0 auto;
  width: 500px;
  position: absolute;
  left: -250px;
  top: 15%;
}

.container-list{
  margin: auto;
  padding-left: 15em;
	padding-bottom: 10em;
	color: white;
}

.work-grid{
  display: grid;
  grid-gap: 2em 2em;
  grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	padding-top: 2em;
	padding-bottom: 2em;
 }

.work-full-column{
  grid-column: span 2;
  min-height: 500px;
}

/*.work-half-column{
  background-color: beige;
}*/
.work-link{
	display: block;
}

.work-title p{
	color: #6B3231;
	margin-top: 0.5em;
}

.work-image{
	width: 100%;
	height: 450px;
	box-shadow: 0 1px 3px rgba(61, 61, 61, 0.05), 0 1px 2px rgba(58, 58, 58, 0.1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.work-image:hover{
  box-shadow: 0 14px 28px rgba(32, 32, 32, 0.12), 0 10px 10px rgba(36, 36, 36, 0.12);
}

.work-left{
  float: left;
}

.work-right{
  float: right;
}
/* ----- Work End -----*/

/* ----- About Start -----*/
.about{
  /* position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  */
  /* width: 100%;
	height: 100vh;	  */
	background-color: #FACCAD;
}

.container-about-main{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 100%;
	height: 100vh;	 
	background-color: #DB565D;
}

.about-mainpic{
	display: block;
	height: 60vh;
  /* margin-top: 10%; */
}

.about-tagline{
  position: absolute;
  padding: 3em;
	border-radius: 50%;
	border: 1px dashed #FACCAD;
	/* border: 1px dotted #FACCAD; */
	color: #FACCAD;
	stroke-dasharray: '2%2c 8';
}

.about-tagline:hover{
  font-size: medium;
  background-color: #FACCAD;
  color: #6B3231;
}

.topright{
  top: 15%;
  right: 25%;
}

.bottomright{
  bottom: 20%;
  right: 20%;
}

.topleft{
  top: 15%;
  left: 20%;
}

.bottomleft{
  bottom: 20%;
  left: 20%;
}

/* ----- About End -----*/

/* ----- Contact Start -----*/

.contactpage{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: auto;
	padding: 5em;
}


/* ----- Contact End -----*/

/* ----- Magis Start -----*/

.magis{
	background-color: #F4F3F4;
}

.container-project-title{
	position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
	height: 100vh;
}

.project-image{
	display: block;
	margin: 0;
	width: 100%;
	height: 100vh;
}

.project-image img{
	display: block;
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

.big-title h1{
	margin: 0;
	color: white;
	font-size: 10em;
}

.project-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: start;
}

.project-desciption{
	margin-left: 30%;
}

.project-desciption h2{
	font-size: 3em;
	color: #6B3231;
	margin-bottom: 0;
}

.project-content-right{
	grid-column-start: 2;
	margin-right: 15%;
}

.project-section{
	color: #DB565D;
}

.project-member-flex{
	display: inline-flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	width: 100%;
}

.project-member-flexitem{
	width: 33%;
	align-items: center;
}

.project-member-flexitem img{
	display: block;
	width: 2em;
	height: 2em;
	float: left;
	border-radius: 50%;
}

.project-member-flexitem p{
	float: right;
	width: 70%;
	margin: 0;
}

.project-user-profile{
	justify-content: space-evenly;
	align-items: flex-start;
}

.project-user img{
	display: block;
	margin: auto;
	padding: 0.2em;
	width: 4em;
	height: 4em;
	border: 1px dotted;
	border-radius: 50%;
}

.project-user p{
	margin: auto;
  width: 85%;
}

.project-outbox{
	margin: auto;
}

.project-outline{
	display: block;
	margin: auto;
	max-width: 60vw;
}

.project-outbox img{
	display: block;
	margin: auto;
	margin-bottom: 2em;
	width: 100%;
}

.project-mockup{
	margin: 2em auto;
	width: 80%;
}

.project-mockup video{
	display: block;
	width: 100%;
	margin: 2em auto;
}

.mockup-left{
	left:0;
}

/* ----- Magis End -----*/